<template>
	<div id="page">
		<div id="bouquet" :class="{'iframe': integration}">
			<header id="header" v-if="!integration">
				<a id="conteneur-logo" :href="definirRacine()" :title="$t('accueil')">
					<span id="logo"></span>
				</a>
				<span id="titre">{{ nom }}</span>
				<span id="conteneur-partage" role="button" :tabindex="modale === '' && menu === '' && $parent.$parent.message === '' ? 0 : -1" :title="$t('partager')" @click="afficherMenuPartager" @keydown.enter="afficherMenuPartager">
					<i class="material-icons">share</i>
				</span>
				<span id="conteneur-parametres" role="button" :tabindex="modale === '' && menu === '' && $parent.$parent.message === '' ? 0 : -1" :title="$t('parametres')" @click="ouvrirModaleBouquet" @keydown.enter="ouvrirModaleBouquet" v-if="admin">
					<i class="material-icons">settings</i>
				</span>
				<span id="conteneur-parametres" role="button" :tabindex="modale === '' && menu === '' && $parent.$parent.message === '' ? 0 : -1" :title="$t('seConnecter')" @click="ouvrirModaleConnexion" @keydown.enter="ouvrirModaleConnexion" v-else>
					<i class="material-icons">lock_open</i>
				</span>
			</header>

			<div id="conteneur">
				<div id="ajouter" v-if="admin">
					<span id="bouton" role="button" :tabindex="modale === '' && menu === '' && $parent.$parent.message === '' ? 0 : -1" @click="ouvrirModaleAjouterLien" @keydown.enter="ouvrirModaleAjouterLien">{{ $t('ajouterLien') }}</span>
				</div>
				<draggable id="liens" class="admin" v-model="liens" :animation="250" :sort="true" :swap-threshold="0.5" :force-fallback="true" :fallback-tolerance="10" handle=".poignee" draggable=".lien" v-if="liens.length > 0 && admin" @end="modifierPositionLien">
					<article class="lien" :class="{'focus': lienFocus === item.id}" :tabindex="modale === '' && menu === '' && $parent.$parent.message === '' ? 0 : -1" @focus="lienFocus = item.id" @keydown.enter="ouvrirLien" v-for="(item, index) in liens" :style="{'background': item.couleur, 'box-shadow': '0px 8px 1px ' + modifierCouleur(item.couleur, -25, true) + ', 0 10px 15px #ccc'}" :key="'lien_' + index">
						<div class="actions" :style="{'background': modifierCouleur(item.couleur, -25, true)}">
							<a :href="item.lien" target="_blank" rel="noreferrer" :title="$t('ouvrir')"><i class="material-icons">visibility</i></a>
							<span role="button" :tabindex="modale === '' && menu === '' && $parent.$parent.message === '' ? 0 : -1" @click="ouvrirModaleModifierLien(item)" @keydown.enter="ouvrirModaleModifierLien(item)" :title="$t('editer')"><i class="material-icons">edit</i></span>
							<span role="button" :tabindex="modale === '' && menu === '' && $parent.$parent.message === '' ? 0 : -1" @click="afficherSupprimerLien(item.id)" @keydown.enter="afficherSupprimerLien(item.id)" :title="$t('supprimer')"><i class="material-icons">delete</i></span>
						</div>
						<div class="contenu">
							<span class="titre">{{ item.titre }}</span>
							<span class="description" v-if="item.description !== ''" v-html="definirHTML(item.description)" />
							<span class="domaine" :style="{'color': modifierCouleur(item.couleur, -70, false)}">{{ definirDomaine(item.lien) }}</span>
						</div>
						<span class="poignee" :style="{'background': modifierCouleur(item.couleur, -25, true)}">
							<i class="material-icons">drag_indicator</i>
						</span>
					</article>
				</draggable>
				<div id="liens" v-else-if="liens.length > 0 && !admin">
					<a class="lien" :href="item.lien" target="_blank" v-for="(item, index) in liens" rel="noreferrer" :title="item.titre" :style="{'background': item.couleur, 'box-shadow': '0px 8px 1px ' + modifierCouleur(item.couleur, -25, true) + ', 0 10px 15px #ccc'}" :key="'lien_' + index">
						<article>
							<span class="titre">{{ item.titre }}</span>
							<span class="description" v-if="item.description !== ''" v-html="definirHTML(item.description)" />
							<span class="domaine" :style="{'color': modifierCouleur(item.couleur, -70, false)}">{{ definirDomaine(item.lien) }}</span>
						</article>
					</a>
				</div>
				<div id="liens" class="vide" v-else>
					<p>{{ $t('aucunLien') }}</p>
				</div>

				<div id="credits" v-if="!integration">
					<p><a href="https://ladigitale.dev/digibunch/" target="_blank" rel="noreferrer" v-html="$t('credits')" /></p>
					<p>{{ new Date().getFullYear() }} - <a href="https://ladigitale.dev" target="_blank" rel="noreferrer">La Digitale</a></p>
				</div>
			</div>

			<div id="menu-partager" v-if="menu === 'partager'" :style="{'left': position + 'px'}">
				<div id="conteneur-partager">
					<label>{{ $t('lienEtCodeQR') }}</label>
					<div id="copier-lien" class="copier">
						<input type="text" disabled :value="definirRacine() + '#/b/' + id">
						<span class="icone lien" role="button" :tabindex="menu === '' ? -1 : 0" :title="$t('copierLien')" @keydown.enter="copierLien"><i class="material-icons">content_copy</i></span>
						<span class="icone codeqr" role="button" :tabindex="menu === '' ? -1 : 0" :title="$t('afficherCodeQR')" @click="afficherCodeQR" @keydown.enter="afficherCodeQR"><i class="material-icons">qr_code</i></span>
					</div>
					<label>{{ $t('codeIntegration') }}</label>
					<div id="copier-iframe" class="copier">
						<input type="text" disabled :value="'<iframe src=&quot;' + definirRacine() + '#/b/' + id + '&quot; allowfullscreen frameborder=&quot;0&quot; width=&quot;100%&quot; height=&quot;500&quot;></iframe>'">
						<span class="icone" role="button" :tabindex="menu === '' ? -1 : 0" :title="$t('copierCode')" @keydown.enter="copierIframe"><i class="material-icons">content_copy</i></span>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-if="modale === 'lien'">
			<div id="modale-lien" class="modale" role="dialog">
				<header>
					<span class="titre" v-if="mode === 'creation'">{{ $t('nouveauLien') }}</span>
					<span class="titre" v-else>{{ $t('modifierLien') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleLien" @keydown.enter="fermerModaleLien"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label for="titre-lien">{{ $t('titreLien') }}</label>
						<input id="titre-lien" type="text" :value="titre" @input="titre = $event.target.value">
						<label for="lien">{{ $t('lien') }}</label>
						<input id="lien" type="text" :value="lien" @input="lien = $event.target.value">
						<label for="description">{{ $t('description') }}</label>
						<div id="description" />
						<label>{{ $t('couleur') }}</label>
						<div class="couleurs">
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" v-for="(item, index) in couleurs" :class="{'selectionne': item === couleur}" :style="{'background': item}" @click="selectionnerCouleur(item)" @keydown.enter="selectionnerCouleur(item)" :key="'couleur_' + index" />
							<span class="icone">
								<label for="couleur"><i class="material-icons">colorize</i></label>
								<input type="color" id="couleur" value="#dddddd" :title="$t('selectionnerCouleur')" @change="selectionnerCouleur($event.target.value)" v-if="couleurs.includes(couleur)">
								<input type="color" id="couleur" class="selectionne" :title="$t('selectionnerCouleur')" @change="selectionnerCouleur($event.target.value)" v-else>
							</span>
						</div>
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="ajouterLien" @keydown.enter="ajouterLien" v-if="mode === 'creation'">{{ $t('ajouter') }}</span>
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="modifierLien" @keydown.enter="modifierLien" v-else>{{ $t('modifier') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'connexion'">
			<div class="modale" role="dialog">
				<header>
					<span class="titre">{{ $t('connexion') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleConnexion" @keydown.enter="fermerModaleConnexion"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<div class="langue">
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'fr'}" @click="modifierLangue('fr')" @keydown.enter="modifierLangue('fr')">FR</span>
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'it'}" @click="modifierLangue('it')" @keydown.enter="modifierLangue('it')">IT</span>
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'en'}" @click="modifierLangue('en')" @keydown.enter="modifierLangue('en')">EN</span>
						</div>
						<label for="question-secrete">{{ $t('questionSecrete') }}</label>
						<select id="question-secrete" :value="question" @change="question = $event.target.value">
							<option value="" selected>-</option>
							<option v-for="(item, index) in questions" :value="item" :key="'option_' + index">{{ $t(item) }}</option>
						</select>
						<label for="reponse-secrete">{{ $t('reponseSecrete') }}</label>
						<input id="reponse-secrete" type="password" :value="reponse" @input="reponse = $event.target.value" @keydown.enter="debloquerBouquet">
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="debloquerBouquet" @keydown.enter="debloquerBouquet">{{ $t('valider') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'bouquet' || modale === 'modifier-nom' || modale === 'modifier-acces' || modale === 'importer' || modale === 'suppression-bouquet'">
			<div id="modale-parametres" class="modale" role="dialog" v-if="modale === 'bouquet'">
				<header>
					<span class="titre">{{ $t('parametresBouquet') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleBouquet" @keydown.enter="fermerModaleBouquet"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<div class="langue">
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'fr'}" @click="modifierLangue('fr')" @keydown.enter="modifierLangue('fr')">FR</span>
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'it'}" @click="modifierLangue('it')" @keydown.enter="modifierLangue('it')">IT</span>
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'en'}" @click="modifierLangue('en')" @keydown.enter="modifierLangue('en')">EN</span>
						</div>
						<span class="vues"><b>{{ $t('nombreVues') }}</b> {{ vues }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="ouvrirModaleNomBouquet" @keydown.enter="ouvrirModaleNomBouquet" v-if="!digidrive">{{ $t('modifierNomBouquet') }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="ouvrirModaleAccesBouquet" @keydown.enter="ouvrirModaleAccesBouquet" v-if="!digidrive">{{ $t('modifierAccesBouquet') }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="exporterBouquet" @keydown.enter="exporterBouquet">{{ $t('exporterBouquet') }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="ouvrirModaleImporter" @keydown.enter="ouvrirModaleImporter">{{ $t('importerBouquet') }}</span>
						<span class="bouton large rouge" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="afficherSupprimerBouquet" @keydown.enter="afficherSupprimerBouquet" v-if="!digidrive">{{ $t('supprimerBouquet') }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="terminerSession" @keydown.enter="terminerSession">{{ $t('terminerSession') }}</span>
					</div>
				</div>
			</div>

			<div class="modale" role="dialog" v-else-if="modale === 'modifier-nom'">
				<header>
					<span class="titre">{{ $t('modifierNomBouquet') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleNomBouquet" @keydown.enter="fermerModaleNomBouquet"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label for="nouveau-nom">{{ $t('nouveauNom') }}</label>
						<input id="nouveau-nom" type="text" :value="nouveaunom" @input="nouveaunom = $event.target.value" @keydown.enter="modifierNomBouquet">
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="modifierNomBouquet" @keydown.enter="modifierNomBouquet">{{ $t('modifier') }}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="modale" role="dialog" v-else-if="modale === 'modifier-acces'">
				<header>
					<span class="titre">{{ $t('modifierAccesBouquet') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleAccesBouquet" @keydown.enter="fermerModaleAccesBouquet"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label for="question-secrete">{{ $t('questionSecreteActuelle') }}</label>
						<select id="question-secrete" :value="question" @change="question = $event.target.value">
							<option value="" selected>-</option>
							<option v-for="(item, index) in questions" :value="item" :key="'option_' + index">{{ $t(item) }}</option>
						</select>
						<label for="reponse-secrete">{{ $t('reponseSecreteActuelle') }}</label>
						<input id="reponse-secrete" type="text" :value="reponse" @input="reponse = $event.target.value">
						<label for="nouvelle-question-secrete">{{ $t('nouvelleQuestionSecrete') }}</label>
						<select id="nouvelle-question-secrete" :value="nouvellequestion" @change="nouvellequestion = $event.target.value">
							<option value="" selected>-</option>
							<option v-for="(item, index) in questions" :value="item" :key="'option_' + index">{{ $t(item) }}</option>
						</select>
						<label for="nouvelle-reponse-secrete">{{ $t('nouvelleReponseSecrete') }}</label>
						<input id="nouvelle-reponse-secrete" type="text" :value="nouvellereponse" @input="nouvellereponse = $event.target.value" @keydown.enter="modifierAccesBouquet">
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="modifierAccesBouquet" @keydown.enter="modifierAccesBouquet">{{ $t('modifier') }}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="modale" role="dialog" v-else-if="modale === 'importer'">
				<header>
					<span class="titre">{{ $t('importerBouquet') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<p>{{ $t('alerteImporter') }}</p>
						<input type="file" id="importer" name="importer" style="display: none;" accept=".dgb" @change="importerBouquet">
						<label for="importer" class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @keydown.enter="afficherSelectionImporter">{{ $t('selectionnerFichier') }}</label>
					</div>
				</div>
			</div>

			<div class="modale confirmation" role="dialog" v-else-if="modale === 'suppression-bouquet'">
				<div class="conteneur">
					<div class="contenu">
						<p v-html="$t('confirmationSupprimerBouquet')" />
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale">{{ $t('non') }}</span>
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="supprimerBouquet" @keydown.enter="supprimerBouquet">{{ $t('oui') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'suppression-lien'">
			<div class="modale confirmation" role="dialog">
				<div class="conteneur">
					<div class="contenu">
						<p v-html="$t('confirmationSupprimerLien')" />
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleSupprimerLien" @keydown.enter="fermerModaleSupprimerLien">{{ $t('non') }}</span>
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="supprimerLien" @keydown.enter="supprimerLien">{{ $t('oui') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'code-qr'">
			<div id="codeqr" class="modale" role="dialog">
				<header>
					<span class="titre">{{ $t('codeQR') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<div id="qr" />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import ClipboardJS from 'clipboard'
import { saveAs } from 'file-saver'
import latinise from 'voca/latinise'
import stripTags from 'voca/strip_tags'
import DOMPurify from 'dompurify'
import pell from 'pell'
import { VueDraggableNext } from 'vue-draggable-next'

export default {
	name: 'Bouquet',
	components: {
		draggable: VueDraggableNext
	},
	data () {
		return {
			modale: '',
			menu: '',
			admin: false,
			id: '',
			question: '',
			questions: ['motPrefere', 'filmPrefere', 'chansonPreferee', 'prenomMere', 'prenomPere', 'nomRue', 'nomEmployeur', 'nomAnimal'],
			reponse: '',
			nom: '',
			liens: [],
			titre: '',
			lien: '',
			description: '',
			editeur: '',
			couleur: '#55efc4',
			couleurs: ['#55efc4', '#81ecec', '#74b9ff', '#a29bfe', '#ffeaa7', '#fab1a0', '#fea7c6'],
			nouveaunom: '',
			nouvellequestion: '',
			nouvellereponse: '',
			lienId: '',
			mode: '',
			lienFocus: '',
			vues: 0,
			elementPrecedent: null,
			codeqr: '',
			position: 0,
			integration: false,
			digidrive: false
		}
	},
	watch: {
		modale: function (valeur) {
			if (valeur !== '') {
				this.menu = ''
			}
		}
	},
	created () {
		this.id = this.$route.params.id
		const langue = this.$route.query.lang
		if (this.$parent.$parent.langues.includes(langue) === true) {
			this.$parent.$parent.langue = langue
			localStorage.setItem('digibunch_lang', langue)
		}
		const question = this.$route.query.q
		const reponse = this.$route.query.r
		if (question && question !== '' && reponse && reponse !== '') {
			const xhreq = new XMLHttpRequest()
			xhreq.onload = function () {
				if (xhreq.readyState === xhreq.DONE && xhreq.status === 200 && xhreq.responseText === 'bouquet_debloque') {
					this.admin = true
					this.digidrive = true
				}
				window.history.replaceState({}, document.title, window.location.href.split('?')[0])
			}.bind(this)
			xhreq.open('POST', this.$parent.$parent.hote + 'inc/ouvrir_bouquet.php', true)
			xhreq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
			xhreq.send('bouquet=' + this.id + '&question=' + window.atob(question) + '&reponse=' + window.atob(reponse) + '&type=api')
		}
		const xhr = new XMLHttpRequest()
		xhr.onload = function () {
			if (xhr.readyState === xhr.DONE && xhr.status === 200) {
				if (xhr.responseText === 'contenu_inexistant' || this.verifierJSON(xhr.responseText) === false) {
					this.$router.push('/')
					return false
				}
				const reponse = JSON.parse(xhr.responseText)
				if (!reponse.nom || reponse.nom === '') {
					this.$router.push('/')
					return false
				}
				this.admin = reponse.admin
				this.nom = reponse.nom
				this.vues = reponse.vues
				if (reponse.donnees !== '' && reponse.donnees.liens && this.verifierJSON(reponse.donnees.liens) === true) {
					this.liens = JSON.parse(reponse.donnees.liens)
				} else if (reponse.donnees !== '') {
					const donnees = JSON.parse(reponse.donnees)
					this.liens = donnees.liens
				}
				this.digidrive = Boolean(reponse.digidrive)
				setTimeout(function () {
					document.title = this.nom + ' - Digibunch by La Digitale'
					this.$parent.$parent.chargement = false
					if (this.integration === true) {
						this.admin = false
					}
				}.bind(this), 300)
			} else {
				this.$parent.$parent.chargement = false
				this.$parent.$parent.message = this.$t('erreurServeur')
			}
		}.bind(this)
		xhr.open('POST', this.$parent.$parent.hote + 'inc/recuperer_bouquet.php', true)
		xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
		xhr.send('id=' + this.id)
	},
	mounted () {
		const langue = navigator.language.substring(0, 2)
		if (this.$parent.$parent.langues.includes(this.$route.query.lang) === false && this.$parent.$parent.langues.includes(langue) === true) {
			this.$parent.$parent.langue = langue
		}
		if (localStorage.getItem('digibunch_lang')) {
			this.$parent.langue = localStorage.getItem('digibunch_lang')
		}
		this.$root.$i18n.locale = this.$parent.$parent.langue
		document.getElementsByTagName('html')[0].setAttribute('lang', this.$parent.$parent.langue)
		const lien = this.definirRacine() + '#/b/' + this.id
		const clipboard = new ClipboardJS('#copier-lien .lien', {
			text: function () {
				return lien
			}
		})
		clipboard.on('success', function () {
			document.querySelector('#copier-lien .lien').focus()
			this.$parent.$parent.notification = this.$t('lienCopie')
		}.bind(this))
		const iframe = '<iframe src="' + lien + '" allowfullscreen frameborder="0" width="100%" height="500"></iframe>'
		const clipboardIframe = new ClipboardJS('#copier-iframe span', {
			text: function () {
				return iframe
			}
		})
		clipboardIframe.on('success', function () {
			document.querySelector('#copier-iframe span').focus()
			this.$parent.$parent.notification = this.$t('codeCopie')
		}.bind(this))

		document.addEventListener('click', function (event) {
			const partager = document.querySelector('#conteneur-partage')
			const menuPartager = document.querySelector('#menu-partager')
			const liens = document.querySelector('#liens')
			if (partager && menuPartager && event.target !== partager && event.target !== menuPartager && !partager.contains(event.target) && !menuPartager.contains(event.target)) {
				this.menu = ''
				this.gererFocus()
			}
			if ((liens && !liens.contains(event.target)) || event.target.closest('.lien') === null) {
				this.lienFocus = ''
			}
		}.bind(this), false)

		document.addEventListener('keydown', this.gererClavier, false)

		window.addEventListener('resize', function () {
			if (this.menu === 'partager') {
				this.menu = ''
				this.gererFocus()
			}
		}.bind(this), false)

		if (window !== window.parent) {
			this.integration = true
			this.admin = false
		}
	},
	beforeUnmount () {
		document.removeEventListener('keydown', this.gererClavier, false)
	},
	methods: {
		definirRacine () {
			return window.location.href.split('#')[0]
		},
		verifierJSON (json) {
			try {
				JSON.parse(json)
				return true
			} catch {
				return false
			}
		},
		modifierLangue (langue) {
			this.$root.$i18n.locale = langue
			this.$parent.$parent.langue = langue
			document.getElementsByTagName('html')[0].setAttribute('lang', langue)
			this.$parent.$parent.notification = this.$t('langueModifiee')
			localStorage.setItem('digibunch_lang', langue)
		},
		afficherMenuPartager () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.menu = 'partager'
			this.$nextTick(function () {
				const rect = document.querySelector('#conteneur-partage').getBoundingClientRect()
				const largeurBouton = rect.width
				const largeurMenu = document.querySelector('#menu-partager').getBoundingClientRect().width
				this.position = rect.left - ((largeurMenu * 90) / 100 - largeurBouton / 2)
				document.querySelector('#menu-partager span').focus()
			}.bind(this))
		},
		copierLien () {
			document.querySelector('#copier-lien .lien').click()
		},
		copierIframe () {
			document.querySelector('#copier-iframe span').click()
		},
		afficherCodeQR () {
			this.modale = 'code-qr'
			this.$nextTick(function () {
				const lien = this.definirRacine() + '#/b/' + this.id
				// eslint-disable-next-line
				this.codeqr = new QRCode('qr', {
					text: lien,
					width: 360,
					height: 360,
					colorDark: '#000000',
					colorLight: '#ffffff',
					// eslint-disable-next-line
					correctLevel : QRCode.CorrectLevel.H
				})
				document.querySelector('.modale .fermer').focus()
			}.bind(this))
		},
		fermerModale () {
			this.modale = ''
			this.gererFocus()
		},
		ouvrirLien (event) {
			if (event.target.classList.contains('lien')) {
				event.target.querySelector('a').click()
			}
		},
		definirHTML (html) {
			return DOMPurify.sanitize(html)
		},
		ouvrirModaleAjouterLien () {
			this.couleur = '#55efc4'
			this.mode = 'creation'
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'lien'
			this.$nextTick(function () {
				this.initialiserEditeur()
				document.querySelector('#modale-lien input').focus()
			}.bind(this))
		},
		initialiserEditeur () {
			this.editeur = pell.init({
				element: document.querySelector('#description'),
				onChange: function (html) {
					this.description = html
				}.bind(this),
				actions: [
					{ name: 'gras', title: this.$t('gras'), icon: '<i class="material-icons">format_bold</i>', result: () => pell.exec('bold') },
					{ name: 'italique', title: this.$t('italique'), icon: '<i class="material-icons">format_italic</i>', result: () => pell.exec('italic') },
					{ name: 'souligne', title: this.$t('souligne'), icon: '<i class="material-icons">format_underlined</i>', result: () => pell.exec('underline') },
					{ name: 'barre', title: this.$t('barre'), icon: '<i class="material-icons">format_strikethrough</i>', result: () => pell.exec('strikethrough') },
					{ name: 'couleur', title: this.$t('couleurTexte'), icon: '<label for="couleur-texte"><i class="material-icons">format_color_text</i></label><input id="couleur-texte" type="color">', result: () => undefined }
				],
				classes: { actionbar: 'boutons-editeur', button: 'bouton-editeur', content: 'contenu-editeur', selected: 'bouton-actif' }
			})
			this.editeur.content.innerHTML = this.description
			this.editeur.onpaste = function (event) {
				event.preventDefault()
				event.stopPropagation()
				let html = event.clipboardData.getData('text/html')
				if (html !== '') {
					html = stripTags(html, ['b', 'i', 'u', 'strike', 'br', 'div', 'font'])
					html = html.replace(/style=".*?"/mg, '')
					html = html.replace(/class=".*?"/mg, '')
					pell.exec('insertHTML', html)
				} else {
					pell.exec('insertText', event.clipboardData.getData('text/plain'))
				}
			}
			document.querySelector('#couleur-texte').addEventListener('change', this.modifierCouleurTexte)
		},
		modifierCouleurTexte (event) {
			pell.exec('foreColor', event.target.value)
			document.querySelector('#couleur-texte').style.color = event.target.value
		},
		ouvrirModaleModifierLien (donnees) {
			this.titre = donnees.titre
			this.lien = donnees.lien
			this.description = donnees.description
			this.couleur = donnees.couleur
			this.lienId = donnees.id
			this.mode = 'edition'
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'lien'
			this.$nextTick(function () {
				this.initialiserEditeur()
				document.querySelector('#modale-lien .fermer').focus()
			})
			if (!this.couleurs.includes(donnees.couleur)) {
				this.$nextTick(function () {
					document.querySelector('#couleur').value = donnees.couleur
				})
			}
		},
		fermerModaleLien () {
			this.modale = ''
			this.titre = ''
			this.lien = ''
			this.description = ''
			this.lienId = ''
			this.mode = ''
			this.gererFocus()
		},
		selectionnerCouleur (couleur) {
			this.couleur = couleur
		},
		ajouterLien () {
			if (this.titre !== '' && this.lien !== '' && this.verifierURL(this.lien) === true && (this.lien.includes('http://') === true || this.lien.includes('https://') === true)) {
				this.$parent.$parent.chargement = true
				const id = 'lien-' + (new Date()).getTime() + Math.random().toString(16).slice(10)
				const liens = JSON.parse(JSON.stringify(this.liens))
				const lien = { id: id, titre: this.titre, lien: this.lien, description: DOMPurify.sanitize(this.description), couleur: this.couleur }
				liens.push(lien)
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						if (xhr.responseText === 'contenu_inexistant') {
							document.title = 'Digibunch by La Digitale'
							this.$router.push('/')
						} else if (xhr.responseText === 'erreur') {
							this.fermerModaleLien()
							this.$parent.$parent.message = this.$t('erreurServeur')
						} else if (xhr.responseText === 'non_autorise') {
							this.fermerModaleLien()
							this.$parent.$parent.message = this.$t('actionNonAutorisee')
						} else if (xhr.responseText === 'bouquet_modifie') {
							this.liens.push(lien)
							this.fermerModaleLien()
							this.$parent.$parent.notification = this.$t('lienAjoute')
						}
					} else {
						this.$parent.$parent.chargement = false
						this.fermerModaleLien()
						this.$parent.$parent.message = this.$t('erreurServeur')
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_bouquet.php', true)
				xhr.setRequestHeader('Content-type', 'application/json')
				const json = { bouquet: this.id, donnees: JSON.stringify({ liens: liens }) }
				xhr.send(JSON.stringify(json))
			} else if (this.titre === '') {
				this.$parent.$parent.message = this.$t('remplirChampTitreLien')
			} else if (this.lien === '') {
				this.$parent.$parent.message = this.$t('remplirChampLien')
			} else if (this.verifierURL(this.lien) === false || this.lien.includes('http://') === false || this.lien.includes('https://') === false) {
				this.$parent.$parent.message = this.$t('indiquerLienCorrect')
			}
		},
		modifierLien () {
			if (this.titre !== '' && this.lien !== '' && this.verifierURL(this.lien) === true && (this.lien.includes('http://') === true || this.lien.includes('https://') === true)) {
				this.$parent.$parent.chargement = true
				const liens = JSON.parse(JSON.stringify(this.liens))
				liens.forEach(function (lien, index) {
					if (lien.id === this.lienId) {
						liens.splice(index, 1, { id: lien.id, titre: this.titre, lien: this.lien, description: this.description, couleur: this.couleur })
					}
				}.bind(this))
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						if (xhr.responseText === 'contenu_inexistant') {
							document.title = 'Digibunch by La Digitale'
							this.$router.push('/')
						} else if (xhr.responseText === 'erreur') {
							this.fermerModaleLien()
							this.$parent.$parent.message = this.$t('erreurServeur')
						} else if (xhr.responseText === 'non_autorise') {
							this.fermerModaleLien()
							this.$parent.$parent.message = this.$t('actionNonAutorisee')
						} else if (xhr.responseText === 'bouquet_modifie') {
							this.liens = liens
							this.fermerModaleLien()
							this.$parent.$parent.notification = this.$t('lienModifie')
						}
					} else {
						this.$parent.$parent.chargement = false
						this.fermerModaleLien()
						this.$parent.$parent.message = this.$t('erreurServeur')
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_bouquet.php', true)
				xhr.setRequestHeader('Content-type', 'application/json')
				const json = { bouquet: this.id, donnees: JSON.stringify({ liens: liens }) }
				xhr.send(JSON.stringify(json))
			} else if (this.titre === '') {
				this.$parent.$parent.message = this.$t('remplirChampTitreLien')
			} else if (this.lien === '') {
				this.$parent.$parent.message = this.$t('remplirChampLien')
			} else if (this.verifierURL(this.lien) === false || this.lien.includes('http://') === false || this.lien.includes('https://') === false) {
				this.$parent.$parent.message = this.$t('indiquerLienCorrect')
			}
		},
		modifierPositionLien () {
			if (this.liens.length > 1) {
				this.$parent.$parent.chargementLiens = true
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargementLiens = false
						if (xhr.responseText === 'contenu_inexistant') {
							document.title = 'Digibunch by La Digitale'
							this.$router.push('/')
						} else if (xhr.responseText === 'non_autorise') {
							this.$parent.$parent.message = this.$t('actionNonAutorisee')
						}
					} else {
						this.$parent.$parent.chargementLiens = false
						this.$parent.$parent.message = this.$t('erreurServeur')
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_bouquet.php', true)
				xhr.setRequestHeader('Content-type', 'application/json')
				const json = { bouquet: this.id, donnees: JSON.stringify({ liens: this.liens }) }
				xhr.send(JSON.stringify(json))
			}
		},
		afficherSupprimerLien (id) {
			this.elementPrecedent = (document.activeElement || document.body)
			this.lienId = id
			this.modale = 'suppression-lien'
			this.$nextTick(function () {
				document.querySelector('.modale .bouton').focus()
			})
		},
		fermerModaleSupprimerLien () {
			this.modale = ''
			this.lienId = ''
			this.gererFocus()
		},
		supprimerLien () {
			this.modale = ''
			this.$parent.$parent.chargement = true
			const liens = JSON.parse(JSON.stringify(this.liens))
			liens.forEach(function (item, index) {
				if (item.id === this.lienId) {
					liens.splice(index, 1)
				}
			}.bind(this))
			const xhr = new XMLHttpRequest()
			xhr.onload = function () {
				if (xhr.readyState === xhr.DONE && xhr.status === 200) {
					this.$parent.$parent.chargement = false
					if (xhr.responseText === 'contenu_inexistant') {
						document.title = 'Digibunch by La Digitale'
						this.$router.push('/')
					} else if (xhr.responseText === 'erreur') {
						this.$parent.$parent.message = this.$t('erreurServeur')
					} else if (xhr.responseText === 'non_autorise') {
						this.$parent.$parent.message = this.$t('actionNonAutorisee')
					} else if (xhr.responseText === 'bouquet_modifie') {
						this.liens = liens
						this.fermerModaleSupprimerLien()
						this.$parent.$parent.notification = this.$t('lienSupprime')
					}
				} else {
					this.$parent.$parent.chargement = false
					this.fermerModaleSupprimerLien()
					this.$parent.$parent.message = this.$t('erreurServeur')
				}
			}.bind(this)
			xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_bouquet.php', true)
			xhr.setRequestHeader('Content-type', 'application/json')
			const json = { bouquet: this.id, donnees: JSON.stringify({ liens: liens }) }
			xhr.send(JSON.stringify(json))
		},
		verifierURL (lien) {
			let url
			try {
				url = new URL(lien)
			} catch (_) {
				return false
			}
			return url.protocol === 'http:' || url.protocol === 'https:'
		},
		ouvrirModaleBouquet () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'bouquet'
			this.$nextTick(function () {
				document.querySelector('#modale-parametres .fermer').focus()
			})
		},
		fermerModaleBouquet () {
			this.modale = ''
			this.question = ''
			this.reponse = ''
			this.nouveaunom = ''
			this.nouvellequestion = ''
			this.nouvellereponse = ''
			this.gererFocus()
		},
		ouvrirModaleNomBouquet () {
			this.nouveaunom = this.nom
			this.modale = 'modifier-nom'
			this.$nextTick(function () {
				document.querySelector('.modale input').focus()
			})
		},
		fermerModaleNomBouquet () {
			this.modale = ''
			this.nouveaunom = ''
			this.gererFocus()
		},
		modifierNomBouquet () {
			if (this.nouveaunom !== '' && this.nom !== this.nouveaunom) {
				this.$parent.$parent.chargement = true
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						if (xhr.responseText === 'erreur') {
							this.$parent.$parent.message = this.$t('erreurServeur')
							this.fermerModaleNomBouquet()
						} else if (xhr.responseText === 'non_autorise') {
							this.$parent.$parent.message = this.$t('actionNonAutorisee')
							this.fermerModaleNomBouquet()
						} else if (xhr.responseText === 'nom_modifie') {
							this.nom = this.nouveaunom
							this.$parent.$parent.notification = this.$t('nomModifie')
							document.title = this.nom + ' - Digibunch by La Digitale'
							this.fermerModaleNomBouquet()
						}
					} else {
						this.$parent.$parent.chargement = false
						this.fermerModaleNomBouquet()
						this.$parent.$parent.message = this.$t('erreurServeur')
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_nom_bouquet.php', true)
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
				xhr.send('bouquet=' + this.id + '&nouveaunom=' + this.nouveaunom)
			} else if (this.nouveaunom === '') {
				this.$parent.$parent.message = this.$t('remplirChampNouveauNom')
			}
		},
		ouvrirModaleAccesBouquet () {
			this.modale = 'modifier-acces'
			this.$nextTick(function () {
				document.querySelector('.modale select').focus()
			})
		},
		fermerModaleAccesBouquet () {
			this.modale = ''
			this.question = ''
			this.reponse = ''
			this.nouvellequestion = ''
			this.nouvellereponse = ''
			this.gererFocus()
		},
		modifierAccesBouquet () {
			if (this.question !== '' && this.reponse !== '' && this.nouvellequestion !== '' && this.nouvellereponse !== '') {
				this.$parent.$parent.chargement = true
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						this.fermerModaleAccesBouquet()
						if (xhr.responseText === 'contenu_inexistant') {
							document.title = 'Digibunch by La Digitale'
							this.$router.push('/')
						} else if (xhr.responseText === 'erreur') {
							this.$parent.$parent.message = this.$t('erreurServeur')
						} else if (xhr.responseText === 'non_autorise') {
							this.$parent.$parent.message = this.$t('informationsIncorrectes')
						} else if (xhr.responseText === 'acces_modifie') {
							this.$parent.$parent.notification = this.$t('accesModifie')
						}
					} else {
						this.$parent.$parent.chargement = false
						this.fermerModaleAccesBouquet()
						this.$parent.$parent.message = this.$t('erreurServeur')
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_acces_bouquet.php', true)
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
				xhr.send('bouquet=' + this.id + '&question=' + this.question + '&reponse=' + this.reponse + '&nouvellequestion=' + this.nouvellequestion + '&nouvellereponse=' + this.nouvellereponse)
			} else if (this.question === '') {
				this.$parent.$parent.message = this.$t('selectionnerQuestionSecreteActuelle')
			} else if (this.reponse === '') {
				this.$parent.$parent.message = this.$t('indiquerReponseSecreteActuelle')
			} else if (this.nouvellequestion === '') {
				this.$parent.$parent.message = this.$t('selectionnerNouvelleQuestionSecrete')
			} else if (this.nouvellereponse === '') {
				this.$parent.$parent.message = this.$t('indiquerNouvelleReponseSecrete')
			}
		},
		ouvrirModaleConnexion () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'connexion'
			this.$nextTick(function () {
				document.querySelector('.modale select').focus()
			})
		},
		fermerModaleConnexion () {
			this.modale = ''
			this.question = ''
			this.reponse = ''
			this.gererFocus()
		},
		debloquerBouquet () {
			if (this.question !== '' && this.reponse !== '') {
				this.$parent.$parent.chargement = true
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						this.fermerModaleConnexion()
						if (xhr.responseText === 'contenu_inexistant') {
							document.title = 'Digibunch by La Digitale'
							this.$router.push('/')
						} else if (xhr.responseText === 'erreur') {
							this.$parent.$parent.message = this.$t('erreurServeur')
						} else if (xhr.responseText === 'non_autorise') {
							this.$parent.$parent.message = this.$t('informationsIncorrectes')
						} else if (xhr.responseText === 'bouquet_debloque') {
							this.admin = true
							this.$parent.$parent.notification = this.$t('connexionReussie')
						}
					} else {
						this.$parent.$parent.chargement = false
						this.fermerModaleConnexion()
						this.$parent.$parent.message = this.$t('erreurServeur')
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/ouvrir_bouquet.php', true)
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
				xhr.send('bouquet=' + this.id + '&question=' + this.question + '&reponse=' + this.reponse + '&type=utilisateur')
			} else if (this.question === '') {
				this.$parent.$parent.message = this.$t('selectionnerQuestionSecrete')
			} else if (this.reponse === '') {
				this.$parent.$parent.message = this.$t('remplirReponseSecrete')
			}
		},
		exporterBouquet () {
			this.modale = ''
			let donnees = { liens: this.liens }
			donnees = 'data:text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(donnees))
			let nom = latinise(this.nom.toLowerCase())
			nom = nom.replace(/ /gi, '-')
			nom = nom.replace(/[^0-9a-z_-]/gi, '')
			if (nom.length > 100) {
				nom = nom.substring(0, 100)
			}
			saveAs(donnees, nom + '_' + new Date().getTime() + '.dgb')
			this.$parent.$parent.notification = this.$t('bouquetExporte')
		},
		ouvrirModaleImporter () {
			this.modale = 'importer'
			this.$nextTick(function () {
				document.querySelector('.modale .fermer').focus()
			})
		},
		afficherSelectionImporter () {
			document.querySelector('#importer').click()
		},
		importerBouquet (event) {
			const fichier = event.target.files[0]
			if (fichier === null || fichier.length === 0) {
				document.querySelector('#importer').value = ''
				return false
			} else {
				this.modale = ''
				this.$parent.$parent.chargement = true
				const reader = new FileReader()
				reader.onload = function (e) {
					const donnees = JSON.parse(e.target.result)
					const liens = donnees.liens
					const xhr = new XMLHttpRequest()
					xhr.onload = function () {
						if (xhr.readyState === xhr.DONE && xhr.status === 200) {
							this.$parent.$parent.chargement = false
							if (xhr.responseText === 'contenu_inexistant') {
								document.title = 'Digibunch by La Digitale'
								this.$router.push('/')
							} else if (xhr.responseText === 'erreur') {
								this.$parent.$parent.message = this.$t('erreurServeur')
							} else if (xhr.responseText === 'non_autorise') {
								this.$parent.$parent.message = this.$t('actionNonAutorisee')
							} else if (xhr.responseText === 'bouquet_modifie') {
								this.liens = liens
								this.$parent.$parent.notification = this.$t('bouquetImporte')
							}
						} else {
							this.$parent.$parent.chargement = false
							this.$parent.$parent.message = this.$t('erreurServeur')
						}
					}.bind(this)
					xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_bouquet.php', true)
					xhr.setRequestHeader('Content-type', 'application/json')
					const json = { bouquet: this.id, donnees: JSON.stringify({ liens: liens }) }
					xhr.send(JSON.stringify(json))
				}.bind(this)
				reader.readAsText(fichier)
				document.querySelector('#importer').value = ''
			}
		},
		terminerSession () {
			this.$parent.$parent.chargement = true
			const xhr = new XMLHttpRequest()
			xhr.onload = function () {
				if (xhr.readyState === xhr.DONE && xhr.status === 200) {
					this.$parent.$parent.chargement = false
					if (xhr.responseText === 'session_terminee') {
						this.fermerModaleBouquet()
						this.admin = false
						this.$parent.$parent.notification = this.$t('sessionTerminee')
					}
				} else {
					this.$parent.$parent.chargement = false
					this.fermerModaleBouquet()
					this.$parent.$parent.message = this.$t('erreurServeur')
				}
			}.bind(this)
			xhr.open('POST', this.$parent.$parent.hote + 'inc/terminer_session_bouquet.php', true)
			xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
			xhr.send('bouquet=' + this.id)
		},
		afficherSupprimerBouquet () {
			this.modale = 'suppression-bouquet'
			this.$nextTick(function () {
				document.querySelector('.modale .bouton').focus()
			})
		},
		supprimerBouquet () {
			this.modale = ''
			this.$parent.$parent.chargement = true
			const xhr = new XMLHttpRequest()
			xhr.onload = function () {
				if (xhr.readyState === xhr.DONE && xhr.status === 200) {
					if (xhr.responseText === 'erreur') {
						this.$parent.$parent.chargement = false
						this.$parent.$parent.message = this.$t('erreurServeur')
					} else if (xhr.responseText === 'non_autorise') {
						this.$parent.$parent.chargement = false
						this.$parent.$parent.message = this.$t('actionNonAutorisee')
					} else if (xhr.responseText === 'bouquet_supprime' || xhr.responseText === 'contenu_inexistant') {
						document.title = 'Digibunch by La Digitale'
						this.$router.push('/')
					}
				} else {
					this.$parent.$parent.chargement = false
					this.fermerModale()
					this.$parent.$parent.message = this.$t('erreurServeur')
				}
			}.bind(this)
			xhr.open('POST', this.$parent.$parent.hote + 'inc/supprimer_bouquet.php', true)
			xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
			xhr.send('bouquet=' + this.id)
		},
		gererFocus () {
			if (this.elementPrecedent) {
				this.elementPrecedent.focus()
				this.elementPrecedent = null
			}
		},
		gererClavier (event) {
			if (event.key === 'Escape' && this.$parent.$parent.message !== '') {
				this.$parent.$parent.message = ''
			} else if (event.key === 'Escape' && this.modale === 'lien') {
				this.fermerModaleLien()
			} else if (event.key === 'Escape' && this.modale === 'suppression-lien') {
				this.fermerModaleSupprimerLien()
			} else if (event.key === 'Escape' && this.modale === 'bouquet') {
				this.fermerModaleBouquet()
			} else if (event.key === 'Escape' && this.modale === 'modifier-nom') {
				this.fermerModaleNomBouquet()
			} else if (event.key === 'Escape' && this.modale === 'modifier-acces') {
				this.fermerModaleAccesBouquet()
			} else if (event.key === 'Escape' && this.modale === 'connexion') {
				this.fermerModaleConnexion()
			} else if (event.key === 'Escape' && this.modale !== '') {
				this.fermerModale()
			} else if (event.key === 'Escape' && this.menu !== '') {
				this.menu = ''
				this.gererFocus()
			}  else if (event.key === 'Escape' && this.lienFocus !== '') {
				this.lienFocus = ''
			}
		},
		definirDomaine (url) {
			return (new URL(url)).hostname
		},
		modifierCouleur (couleur, valeur, alpha) {
			const num = parseInt(couleur.slice(1), 16)
			let r = (num >> 16) + valeur
			if (r > 255) {
				r = 255
			} else if (r < 0) {
				r = 0
			}
			let g = (num & 0x0000FF) + valeur
			if (g > 255) {
				g = 255
			} else if (g < 0) {
				g = 0
			}
			let b = ((num >> 8) & 0x00FF) + valeur
			if (b > 255) {
				b = 255
			} else if (b < 0) {
				b = 0
			}
			const hex = '#' + (g | (b << 8) | (r << 16)).toString(16)
			if (alpha === true) {
				r = parseInt(hex.slice(1, 3), 16)
				g = parseInt(hex.slice(3, 5), 16)
				b = parseInt(hex.slice(5, 7), 16)
				return 'rgba(' + r + ', ' + g + ', ' + b + ', 0.8)'
			} else {
				return hex
			}
		}
	}
}
</script>

<style scoped>
#page,
#bouquet {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#bouquet {
	background: #fff;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
    width: 100%;
    text-align: center;
    background: #fff;
	z-index: 100;
	user-select: none;
}

#conteneur-partage,
#conteneur-parametres,
#conteneur-logo {
    height: 40px;
    background: #fff;
	position: absolute;
	top: 0;
}

#conteneur-logo {
	width: 40px;
	left: 0;
	text-align: center;
}

#conteneur-partage,
#conteneur-parametres {
	width: 40px;
	right: 0;
	line-height: 40px;
	padding: 0 8px;
	cursor: pointer;
}

#conteneur-parametres {
	right: 0;
}

#conteneur-partage {
	right: 40px;
}

#conteneur-partage i,
#conteneur-parametres i {
	font-size: 24px;
}

#logo {
    width: 24px;
    height: 24px;
    background: #00ced1;
    display: inline-block;
    border-radius: 50%;
    margin: 8px;
}

#titre {
	font-family: 'Roboto-Slab';
	font-size: 18px;
    padding: 0 7px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
	margin-left: 40px;
	margin-right: 80px;
	display: block;
	text-transform: uppercase;
    letter-spacing: 1px;
}

#titre:before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 8px;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.04) 50%, transparent 90%, transparent);
}

#conteneur {
	position: relative;
	height: calc(100% - 40px);
	margin-top: 40px;
	overflow: auto;
}

.iframe #conteneur {
	height: 100%;
	margin-top: 0;
}

#ajouter {
	margin: 2em 0 0;
	text-align: center;
}

#bouton {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#liens {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
	width: 100%;
	max-width: 96em;
	margin: 0 auto 2em;
	padding: 0 1em;
	padding-top: 2em;
	padding-bottom: 2em;
	border-bottom: 1px solid #ddd;
	min-height: 200px;
}

.iframe #liens {
	margin: 0 auto;
	border-bottom: none;
	padding-top: 1em;
	padding-bottom: 1em;
}

#ajouter + #liens {
	margin: 2em auto;
	border-top: 1px solid #ddd;
}

#liens .lien {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    margin: 1em 1em calc(1em + 8px) 1em;
	padding: 2em 1em;
	text-align: center;
    border-radius: 10px;
}

#liens a:hover {
	opacity: 0.8;
}

#liens article:not(.lien) {
	width: 100%;
}

#liens article.lien.sortable-chosen.sortable-ghost {
	opacity: 0.7;
}

#liens.admin .lien {
	padding: 2em 2.5rem;
	user-select: none;
}

#liens .lien .titre {
	display: block;
	font-weight: 700;
	font-size: 19px;
	line-height: 1.4;
}

#liens .lien .titre + .description {
	display: block;
	margin-top: 1.5em;
	line-height: 1.5;
	font-size: 16px;
	white-space: pre-line;
}

#liens .lien .domaine {
	display: block;
	margin-top: 1.5em;
	font-size: 16px;
	font-weight: 700;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#liens .lien .actions {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.25em 0.5em;
	font-size: 24px;
	color: #fff;
	border-radius: 10px;
	cursor: default;
}

#liens .lien .actions a,
#liens .lien .actions span {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	margin-right: 0.5em;
	cursor: pointer;
}

#liens .lien .actions a:hover,
#liens .lien .actions span:hover {
	opacity: 0.85;
}

#liens .lien .actions span:last-child {
	margin-right: 0;
}

#liens .lien.focus .actions,
#liens .lien:not(.sortable-chosen):hover .actions {
	display: block;
}

#liens article .poignee {
	position: absolute;
	top: 1rem;
	left: 0;
	bottom: 1rem;
	width: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: move;
}

#liens.vide {
	margin: 2em auto;
	padding-top: 7em;
	padding-bottom: 7em;
}

#liens.vide p {
	display: block;
	width: 100%;
    font-size: 1.1em;
    line-height: 1.2;
	margin-bottom: 0;
	text-align: center;
}

#menu-partager {
	position: absolute;
    z-index: 1000;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 1rem;
	background: #fff;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	top: 54px;
	width: 300px;
}
	
#menu-partager:after {
	border: solid #ddd;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	border-width: 0 1px 1px 0;
	transform: translate(-7px, -8px) rotate(-135deg);
	background: #fff;
    left: 90%;
    width: 14px;
    height: 14px;
}

#menu-partager label {
	display: block;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
    user-select: none;
}

#menu-partager .copier {
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu-partager .copier input {
	display: block;
	width: calc(100% - 34px);
	font-weight: 400;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 7px 15px;
	line-height: 1.5;
	text-align: left;
	margin-right: 10px;
}

#copier-lien {
	margin-bottom: 20px;
}

#copier-lien input {
	width: calc(100% - 68px);
}

#copier-lien span:last-child {
	margin-left: 10px;
}

#menu-partager .copier span i {
	font-size: 24px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

#menu-partager .copier span i:active {
	opacity: 0.8;
}

#credits {
	width: 100%;
	max-width: 96em;
	margin: 2em auto 2em;
}

#credits p {
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1em;
	text-align: center;
}

#credits p a span {
	text-decoration: underline;
}

.modale .bouton.large {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.modale .bouton.large:last-child {
	margin-bottom: 0;
}

.modale .bouton.rouge {
	color: #fff;
	background: #ff6259;
}

.modale .bouton.rouge:hover {
	background: #d70b00;
}

.modale .langue {
	margin-bottom: 20px;
}

.modale .langue span {
	display: inline-flex;
	width: 45px;
	height: 45px;
	justify-content: center;
	align-items: center;
	line-height: 1;
	font-size: 20px;
	border-radius: 50%;
	margin-right: 10px;
	border: 1px solid #ddd;
	cursor: pointer;
	user-select: none;
}

.modale .langue span.selectionne {
	background: #444;
	color: #fff;
	border: 1px solid #222;
}

.modale .langue span:last-child {
	margin-right: 0;
}

.modale.confirmation .conteneur {
	text-align: center;
	padding: 30px 25px;
	max-width: 500px;
}

#modale-parametres .contenu {
	font-size: 0;
}

#modale-parametres .vues {
	display: block;
	font-size: 16px;
	margin-bottom: 20px;
}

#codeqr.modale .contenu {
	text-align: center;
	font-size: 0;
}

@media screen and (max-width: 499px) {
	#liens .lien {
		width: 100%;
		margin: 1em 0.5em calc(1em + 8px) 0.5em;
	}
}

@media screen and (min-width: 500px) and (max-width: 1023px) {
	#liens .lien {
		width: calc((100% / 2) - 2em);
	}
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
	#liens .lien {
		width: calc((100% / 3) - 2em);
	}
}

@media screen and (min-width: 1400px) {
	#liens .lien {
		width: calc((100% / 4) - 2em);
	}
}

@media screen and (max-width: 599px) {
	#credits p {
		font-size: 0.75em;
	}
}

@media screen and (max-width: 767px) {
	.modale .langue span {
		width: 40px;
		height: 40px;
		font-size: 18px;
		margin-right: 9px;
	}
}

@media screen and (max-width: 820px) and (orientation: landscape) {
	#credits p {
		margin-bottom: 0.75em!important;
	}
}

@media screen and (max-width: 850px) and (max-height: 500px) {
	#credits p {
		font-size: 0.75em;
	}
}
</style>

<style>
#codeqr.modale #qr {
	display: inline-block;
}

#codeqr.modale #qr img {
	max-width: 100%;
	height: auto;
	max-height: 60vh;
}
</style>
